data/*.json
data/*.key
data/*.in
data/*.out
data/*.parms
data/*.mp4
data/*.enc
data/*.txt
data/*.zip
data/*.png
build/*
!build/.gitkeep
tmp/
playground/opt/python/*
!playground/opt/python/.gitkeep
*.s
*.o
*.a
*.so
*.exe
*.bc
*.ll
*.profile
*.swp
*.dat
*.dot
*.swp
*.bak
*.swo
packaged.yaml
.aws-sam/
__pycache__
*.pyc

*.in
*.ctx
*.key
*.out
output.json
lambda_transformed.py
