astor==0.8.1
attrs==19.3.0
AWSIoTPythonSDK==1.4.9
beniget==0.3.0
boto3==1.14.39
botocore==1.17.39
certifi==2020.6.20
docutils==0.15.2
gast==0.4.0
importlib-metadata==1.7.0
iniconfig==1.0.1
jmespath==0.10.0
more-itertools==8.4.0
numpy==1.19.1
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyaes==1.6.1
pybind11==2.5.0
pycrypto==2.6.1
pyparsing==2.4.7
pytest==6.0.1
python-dateutil==2.8.1
s3transfer==0.3.3
six==1.15.0
toml==0.10.1
urllib3==1.25.10
zipp==3.1.0
